NumPy
TensorFlow
matplotlib
keras
Pandas

for Windows users it is HIGHLY recommended to install NumPy+MKL, it can be found at the Unofficial Windows Binaries for Python Extension Packages:

https://www.lfd.uci.edu/~gohlke/pythonlibs/

Download numpy-1.14+mkl 

in the command prompt run: 
```
> pip3 install numpy-1.12+mkl . . . 
```
* you can also click and drag the downloaded wheel file into the command prompt after typing in pip3 install

After installing NumPy+MKL install TensorFlow, then Keras, then the remaining modules.
